.menu-item {
    // 中身を中央よせしようと思ったら、以下の３つのプロパティのセットを使うのが一番綺麗。
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    // widthの％指定は、外側のコンテンツに対しての％を表してるっぽい。
    // ここでいうと、directory-menuの幅に対しての30%分の幅
    width: 30%;
    height: 240px;
    // 以下のように指定すると、それぞれの列で配置されたアイテムがそれぞれ同じ大きさになってくれる。
    // flex-grow以外は初期値なので、実質効いているのはflex-growだけ
    // flex: 1 1 auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    &:hover {
        cursor: pointer;

        & .background-image {
            transform: scale(1.1);
            // こっちに書いた方が見やすい気がする。
            transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }
        & .content {
            opacity: 0.9;
        }
    }

    &.large {
        height: 380px;
    }

    &:first-child {
        margin-right: 7.5px;
    }

    &:last-child {
        margin-left: 7.5px;
    }

    .background-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        // hoverにいれてもいいし、こっちに書いてもいい。
        // transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    .content {
        display: flex;
        // 親要素内での位置を固定するときに使う
        position: absolute;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 90px;
        padding: 0 25px;
        border: 1px solid black;
        background-color: white;
        opacity: 0.7;

        .title {
            font-weight: bold;
            font-size: 22px;
            color: #4a4a4a;
            margin-bottom: 6px;
        }
        .subtitle {
            font-weight: lighter;
            font-size: 16px;
        }
    }
}
